<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988598383985-br6atjhjbbj08k63m90io9usnkaqmhvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988598383985-br6atjhjbbj08k63m90io9usnkaqmhvr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>988598383985-jtreuv2426jpqta875noajqr207s5von.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSt3dc045DWXmv94mxv6AnBxxuB53IWN4</string>
	<key>GCM_SENDER_ID</key>
	<string>988598383985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flightSavvy</string>
	<key>PROJECT_ID</key>
	<string>fly-savvy</string>
	<key>STORAGE_BUCKET</key>
	<string>fly-savvy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988598383985:ios:65cb19335f2901c99bb2d0</string>
</dict>
</plist>